<div class="petition-container">

    {{>content}}

        <div class="petition-container-right">
        <div class="petition-div">
        
        <h1 class="signers-content">We demand that all the wishes in the world whould become true immediately! </h1>

        {{#rows}}
        <div class="list-item">


        {{#if url}}
        <a href="{{url}}" target="_blank" >{{first}} {{last}} </a>
        {{else}}
        {{first}} {{last}}
        {{/if}}
        

        {{#if age}}
        | {{age}} 
        {{/if}}
        {{#if city}}
        | <a href="/signers/{{city}}">{{city}}</a> 
        {{/if}}




        {{#if ../user.admin}}
        <form id="delete-form" action="/signers/delete/{{id}}?_method=DELETE" method="POST"><button id="deleteButton">X</button></form>
        {{/if}}
        </div>
        {{/rows}}

        <div class="list-item">Piotr Majtyka</div>
        <div class="list-item">Piotr Majtyka</div>
        <div class="list-item">Piotr Majtyka</div>
        <div class="list-item">Piotr Majtyka</div>
        <div class="list-item">Piotr Majtyka</div>
        <div class="list-item">Piotr Majtyka</div>
        <div class="list-item">Piotr Majtyka</div>
        <div class="list-item">Piotr Majtyka</div>
        <div class="list-item">Piotr Majtyka</div>
        <div class="list-item">Piotr Majtyka</div>
        <div class="list-item">Piotr Majtyka</div>
        <div class="list-item">Piotr Majtyka</div>
        <div class="list-item">Piotr Majtyka</div>
        <div class="list-item">Piotr Majtyka</div>
        <div class="list-item">Piotr Majtyka</div>
        <div class="list-item">Piotr Majtyka</div>
        <div class="list-item">Piotr Majtyka</div>
        <div class="list-item">Piotr Majtyka</div>
        <div class="list-item">Piotr Majtyka</div>
        <div class="list-item">Piotr Majtyka</div>
</div>

    </div>
</div>