<div class="signers-container">
    <div class="signers-div">
        
        <h1 class="signers-content">All the people of {{city}} support our idea!</h1>

        {{#rows}}
        <div class="list-item">


        {{#if url}}
        <a href="{{url}}">{{first}} {{last}} </a>
        {{else}}
        {{first}} {{last}}
        {{/if}}
        

        {{#if age}}
        | {{age}} 
        {{/if}}



        {{#if ../user.admin}}
        <form id="delete-form" action="/signers/delete/{{id}}?_method=DELETE" method="POST"><button id="deleteButton">X</button></form>
        {{/if}}
        </div>
        {{/rows}}


    </div>
</div>